body {
    font-family: sans-serif;
}

nav {
    position: absolute;
    top: 0;
    right: 20px;
}

nav > ul {
    list-style-type: none;
    padding: 5px;
    display: flex;
}

nav > ul > li {
    margin: 21px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
}

.center {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    text-align: center;
}

.container {
    width: 800px;
    margin-top: 100px;
    margin-left: 200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 300px auto;
}

.col > input[type=text] {
    height: 20px;
    border-radius: 4px;
}

.col > input[type=text]:focus {
    outline: 1px solid #4285f4;
}

header h1 {
    font-size: 70px;
    padding: 10px;
    margin: 10px;
}

input[type=text] {
    width: 85%;
    height: 30px;
    border: 1px solid silver;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    border-radius: 20px;
}

input[type=text]:focus {
    outline: none;
}

input[type=text]:hover {
    border: 1px solid #4285f4;
    box-shadow: 0px 0px 10px silver;
}

.btnGray {
    background-color: silver;
    box-shadow: 0px 0px 10px silver;
}

.btnGray:hover {
    background-color: gray;
}

.btnBlue {
    background-color: #4285f4;
    font-weight: bold;
    color: white;
    width: 20%;
    margin: 200px;
    box-shadow: 0px 0px 10px #4285f4;
}

.btnBlue:hover {
    background-color: #7aa9f7;
}

h1, h2 {
    text-shadow: 0px 0px 10px gray;
}
input[type=submit] {
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin-top: 2rem;
}

input[type=submit]:hover {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .center {
        width: 70%;
    }

    header h1 {
        font-size: 50px;
    }
}
